body{
    background-color: #151b29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background: none;
    border:2px solid orange;
    color: orange;
    padding: 1.9px 18px;
    transition: all 0.2s;
}
button:hover{
    color: white;
    border: 2px solid greenyellow;
    transform: translateY(-0.5em);
    box-shadow: 0 0.5em 0.5em -0.4em greenyellow ;
    cursor: pointer;
}