.circle{
    width: 350px;
    height: 350px;
    background-color: magenta;
    transition: all 1s 1s;
    
    
}
.circle:hover{
    border-radius: 50%;
    background-color: cyan;
    
}
div{
    height: 30px;
    width: 30px;
    background-color: wheat;
    margin: 3px;
    transition: margin-left 3s ease-out,border-radius 1s;
}
section:hover div{
    background-color: red;
    border-radius: 50%;
    margin-left: 400px;
}
div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}